/* TODO Add site wide styles */
.main-container {
    display: grid;
    grid-template-columns: auto auto minmax(0, 1fr);
    height: 100vh;
    max-width: 100vw;
    background-color: #2e2e2e;
    overflow-x: hidden;
}

html,
body,
header,
nav,
h1,
h3,
h4,
h5,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
/* input, */
textarea,
span,
article,
footer,
time,
small {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.index-note {
    display: flex;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    background-color: #1a1a1a73;
    color: white;
    border-right: 1px solid #000000;
}
