/* TODO Add site wide styles */
.main-container {
    display: grid;
    grid-template-columns: auto auto minmax(0, 1fr);
    height: 100vh;
    max-width: 100vw;
    background-color: #2e2e2e;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* #main-container-user {
    display: flex;
    height: 100vh;
    max-width: 100vw;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
} */

html,
body,
header,
nav,
h1,
h3,
h4,
h5,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
/* input, */
textarea,
span,
article,
footer,
time,
small {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

.index-note {
    display: flex;
    height: 100vh;
    width: 350px;
    flex-direction: column;
    background-color: #1a1a1a73;
    color: white;
    border-right: 1px solid #000000;
    overflow-y: scroll;
    /* padding: 1rem; */
}

.item-container a li {
    list-style-type: none;
    padding: 1rem;
}

.item-container a li div {
    list-style-type: none;
    margin: 0.5rem;
}

.item-container {
    border: .01rem solid;
}

.edit-form-content {
    background-color: white;
    width: 99.9%;
    /* width: 100vh; */
    height: 80vh;
    font-size: 150%;
    resize: none;
}

.edit-form-button-container {
    display: flex;
    justify-content: space-between;
}

.item-container-info-content {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 32px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.item-container-info-title {
    font-size: 1.2em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;
    /* fallback */
    max-height: 32px;
    /* fallback */
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.index-note-header {
    font-size: 3rem;
}

.index-note-count {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.index-note-item-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 7.8rem;
}

.index-note-header-container {
    position: fixed;
    padding: 1rem;
    width: 19.7rem;
    background-color: rgb(26, 26, 26);
    border: 0.1rem solid white;
}

.edit-form-title {
    width: 99.5%;
    font-size: 250%;
    margin-bottom: 0.1rem;
}

.edit-form-button-save {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #03bd03;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

.edit-delete-button-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.edit-delete-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: #ff0000;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
}
